{% extends 'menu/base.html' %} {% load widget_tweaks %} {% block content %} {% load static %}



{% load custom_tags %}

<div class="row" style="height и overflow-y: scroll. ">
    <div class="col-4">
        <nav id="navbar-1" class="sticky-top">
            <a class="navbar-brand" href="{% url 'home' %}">Navbar</a>
            <nav class="nav nav-pills flex-column">
                {% for root_menu_item in root_menu_items %}
                    {% show_tree root_menu_item active_menu_item %}
                {% endfor %}
            </nav>
        </nav>
    </div>

    <div class="col-8">
        <h3>{{active_menu_item.header}}</h3>
        {{active_menu_item.text}}
    </div>
    </div>

{% endblock content %}
