{% extends 'collector/base.html' %} {% load widget_tweaks %} {% block content %} {% load static %}


<html>
<head>
    <title>Statistics Collector</title>
    <link rel="stylesheet" href="{% static 'my_css/main_pages.css' %}">
</head>
<body>
<div class="container-fluid">

    <hr class="hr">
    <div class="row">
        <div class="col-3 col-lg-3" id="containerForSlideMenu">
            <h4>Menu</h4>
            {% block left_menu %}
            {% include 'collector/left_menu.html' %}
            {% endblock %}
        </div>
        <div class="col-9 col-lg-9">
            <h4>Result table</h4>
            {% block result_table %}
            {% include 'collector/result_table.html' %}
            {% endblock %}
        </div>
    </div>



</div>
</body>
</html>

{% endblock content %}
