{% extends 'collector/base.html' %} {% load widget_tweaks %} {% block content %}

<div class="card">

      <div class="card" style="margin-bottom: 30px">
          <button type="button" class="btn-outline-primary" data-toggle="modal" data-target="#download_files_modal">
            <a>Download files</a>
          </button>
      </div>

      <div class="card" style="margin-bottom: 30px">
          <div class="text-center">
              <h5>Purchases in db: {{number_of_purchases}}</h5>
              <h5>Installs in db: {{number_of_installs}}</h5>
          </div>
      </div>

      <div class="card">
          <button type="button" class="btn-outline-primary" data-toggle="modal" data-target="#set_new_table_options">
            <a>Create new table</a>
          </button>
      </div>

</div>

{% block file_modals %}
{% include 'collector/files_modals.html' %}
{% endblock %}

{% block result_table %}
{% include 'collector/table_modals.html' %}
{% endblock %}

{% endblock content %}